body {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  color: white;
}
.logo-att {
  height: 54px;
  margin: 1% 2% 1% 2%;
}

.hero {
  color: black;
}
.ejecutiva {
  font-size: 1.4em;
  margin: 2% 5% 1% 2%;
  font-weight: 300;
}
.nombre {
  font-size: 1.7em;
  margin: 0 0 1.5% 2%;
  font-weight: 400;
}
.frase {
  font-size: 1.1em;
  margin: 0 0 5% 2%;
  font-weight: 300;
}

.circle {
width: 110px;
height: 110px;
border-radius: 50%;
overflow: hidden;
margin: -131px 0 3% 260px;
/* border: 1px solid red; */
}
.ejecutivo-container {
  height: 100%;
  position: relative;
}
.ejecutivo {
  height: 135%;
}

h2 {
  font-size: 2.4em;
  font-weight: 600;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}

.servicios {
  margin: 4%;
}
ul {
  margin: 1%;
  font-size: 1.8em;
  font-weight: 300;
}

.contacto {
  background-color: dodgerblue;
  color: white;
  height: 230px;
}
.icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.contact {
  font-size: 1.8em;
  margin: 2% 0 0 2%;
  font-weight: 400;
}
.numero {
  font-size: 2em;
  margin: 0 1% 0 -2%;
  font-weight: 300;
}
.icon-watsapp {
  height: 33px;
}
.icon-mail {
  height: 33px;
}
.icon-qr {
  height: 33px;
}

.ubicacion {
  font-size: 1.8em;
  text-align: center;
  margin: 2% 0 2% 0;
  font-weight: 400;
}

.ubi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
}
.icon-position {
  height: 51px;
}
.store {
  font-size: 1.6em;
}

.cuenta {
  font-size: 1.5em;
  text-align: left;
  margin: 2% 0 1% 2%;
  font-weight: 400;
}

.linea {
  font-size: 1.4em;
  font-weight: 300;
  margin: 1% 0 1% 2%;
}

.ayuda {
  font-size: 1.4em;
  font-weight: 300;
  margin: 1% 0 1% 2%;
}
